.top-bar{
    columns: 33%;
    position: relative;
    outline: 5px;
    outline-style: auto;
    outline-color: #F4731C;
    margin: 0px;
    width: 100%;
    height: 10%;
    overflow: hidden;
    background-color: #173A79;
    padding: 20px;
    color: white;
}
body{

}
button{
    float: left;
    position: relative;
    display: block;
    outline: 5px;
    outline-style: auto;
    outline-color: #F4731C;
    margin: 0px;
    width: 5%;
    height: 10%;
    background-color: #F4731C;
    padding: 5px;
    color: white;
}
